<CascadingAuthenticationState>
    <Blazorise.ThemeProvider Theme="@theme"/>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" 
                DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code{
    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#57024e",
            Secondary = "#A65529",
            // other
        },
        BodyOptions = new ThemeBodyOptions()
        {
            BackgroundColor = "#f0f0f0"
        }
    };
}
