@page "/"
@inject NavigationManager navigationManager
@using Sociogram.UserInterface.Auth
@inject IQuizService quizService
@inject AuthenticationStateProvider authenticationProvider
@using Sociogram.DAL.Repositiores.Interfaces
@inject IHttpContextAccessor httpContextAccesor

<PageTitle>Sociogram</PageTitle>
<Container Fluid Style="margin-top: 65px;">
    <Row>
        <Column ColumnSize="ColumnSize.Is9">
            <h3>Witaj w aplikacji Socjogram</h3>

            <p style="font-size: 18px;">Aplikacja "Socjogram" służy do badania relacji klasy</p>
            <Div class="joinPanel">
                <p class="joinTxt">Dołącz do Badania: </p><input @bind-value="code" type="number" class="joinBtn" placeholder="0000"/>
                <Button Color="Color.Primary" onclick="@JoinToQuiz" Style="font-size: 20px; padding: 15px; height: 45px; width: 100%;">Dołącz</Button>
            </Div>
            <AuthorizeView>
                <Authorized>
                    <br/>
                    <h4>Hello : @context.User.Identity.Name</h4>
                    <Card Style="margin: 10px;">
                        <CardHeader>
                            <h5>Dodaj klase <Button Color="Color.Secondary" @onclick="AddNewClass" Style="float: right;">Dodaj nową klase</Button></h5>
                        </CardHeader>
                    </Card>
                    
                </Authorized>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>
        </Column>
        <Column ColumnSize="ColumnSize.IsAuto">
            <AuthorizeView>
                <Authorized>
                    <Card Style="max-width: 330px;">
                        <CardHeader>
                            <h4>Twoje badania:</h4>
                        </CardHeader>
                        <CardBody>
                            <Button Color=Color.Primary @onclick="NewQuiz" Style="width: 100%; margin-bottom: 6px;">Nowe Badanie</Button>
                            @foreach(Quiz quiz in Quizzes)
                            {
                                <h5>@quiz.ClassS.Name - @quiz.Active - @quiz.JoinCode <Button Color="Color.Info">Info</Button></h5>
                            }
                        </CardBody>
                    </Card>
                </Authorized>
            </AuthorizeView>
        </Column>
    </Row>
</Container>
@code{
    int code;
    List<Quiz> Quizzes = new();

    protected override async Task OnInitializedAsync()
    {
        var authstate = await ((CustomAuthenticationStateProvider)authenticationProvider).GetAuthenticationStateAsync();
        var user = authstate.User;
        string name = user.Identity.Name;
        Quizzes = quizService.GetQuizzes(name);
    }

    public void JoinToQuiz()
    {
        navigationManager.NavigateTo($"putName/{code}");
    }
    public void NewQuiz()
    {
        navigationManager.NavigateTo("createQuiz");
    }
    public void AddNewClass()
    {
        navigationManager.NavigateTo("newclass");
    }
}